<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="angular.js"></script>
    <title>AngularJS</title>
</head>
<body>
<div ng-app="users">
    <div>
        <label>Введите имя:</label>
        <input type="text" ng-model="name" placeholder="Введите имя">

        <h1>Добро пожаловать {{name}}!</h1>
    </div>
    <table ng-controller="usersTable">
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.name}}</td>
            <td>{{user.subdivision.subdivision_name}}</td>
            <td><a href="">edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>